*.kdevelop*
*.kdevses
Doxyfile
config.h*
doc/
po/
templates/
*~
Makefile
CMakeCache.txt
CMakeFiles/
install_manifest.txt
cmake_install.cmake
*.moc
*.moc.cpp
*_skel.cpp
*_stub.cpp
*_stub.h
src/mastervolume.cpp
src/mastervolume.h
src/mixerinput.cpp
src/mixerinput.h
src/patchbox.cpp
src/patchbox.h
src/peakmeter.cpp
src/peakmeter.h
src/tabview.cpp
src/tabview.h
src/dcopiface.kidl
src/kenvy24
